@tailwind base;
@tailwind components;
@tailwind utilities;

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
  width: max-content;
}

/* Slower speed for mobile */
@media (max-width: 768px) {
  .animate-marquee {
    animation: marquee 8s linear infinite;
    width: max-content;
  }
}

/* Pause animation on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}

/* Font Face Declaration */
@font-face {
  font-family: 'Didot HTF L24 Light';
  src: url('/fonts/Didot HTF L24 Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Didot HTF M42 Medium';
  src: url('/fonts/Didot HTF M42 Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Komrile Condensed';
  src: url('/fonts/Komrile Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FocusGrotesk';
  src: url('/fonts/FocusGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FocusGrotesk';
  src: url('/fonts/FocusGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Hero Background */
.hero-background {
  background-image: url('/images/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer Background */
.footer-background {
  background-image: url('/images/footer bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
